.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dddfe0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  box-sizing: border-box;
}
.notif {
  position: relative;
  width: 40px;
  height: 40px;
}

.title {
  color: #5C5CD6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.by {
  color: #141221;
  opacity: .5;
}

.btn {
  outline: 0;
  border: 0;
  background-color: transparent;
  background-image: url("../../images/Union.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  opacity: 0.7;
}

.btn_num {
  top: -5px;
  right: 2px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #ff7043;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.date {
  margin: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  max-width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 8px;
}

.date_span {
  margin-left: 4px;
  color: #141221;
  opacity: 0.5;
}
